<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ asset('css/style.css') }}">
  <title>Machine 2 Machine</title>
</head>
<body>

<header class="navbar navbar-expand-lg navbar-light bg-light">

  <!-- navbar to be added with the following navigations: Download results, View, Login and Register -->
  <a class="navbar-brand" href="#">Machine 2 Machine</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" >

    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="SendMessage.html">Send Message</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">View</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="Login.html">Login</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="Register.html">Register</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="DisplayResults.html">Display Results</a>
      </li>

    </ul>
  </div>

  <!-- container with my-8 , Jumbotron used for padding, Continue button my-4-->
</header>
<main class="container my-8">
  <div class="jumbotron">
    <h1>Welcome to the Project!</h1>
    <p class="lead">The project that began in 2005 in the industrial sector is still ongoing. It involves downloading and saving SMS messages from the M2M Connect server and presenting the message content and related information on a web browser.. </p>
    <hr class="my-4">
    <a class="btn btn-lg btn-primary" href="Login.html" role="button">Continue</a>
  </div>
</main>

<footer>
  <p class="text-center">&copy; 2023 Machine 2 Machine</p>
</footer>

